body {
    margin: 0;
    padding: 0;
}

/* Green button */
.green {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    background-color: rgb(0, 255, 106);
    border: none;
    outline: none;
    border-radius: 20px;
    box-shadow: 10px 10px 15px #868686;
    font-size: 50px;
    font-family: "Cooper", sans-serif;
    transition: 0.25s;
}

.green:hover {
    box-shadow: 10px 10px 6px #868686;
    height: 130px;
    width: 220px;
    font-size: 30px;
}

.green:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}

/* Blue button */
.blue {
    position: absolute;
    top: 25%;
    left: 46.5%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: rgb(0, 191, 255);
    font-size: 50px;
    box-shadow: 10px 10px 15px #868686;
    transition: 0.25s;
}

.blue:hover {
    box-shadow: 10px 10px 6px #868686;
    height: 130px;
    width: 220px;
    font-size: 30px;
}

.blue:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}

/* Purple button */
.purple {
    position: absolute;
    top: 25%;
    left: 63%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: rgb(177, 0, 177);
    font-size: 50px;
    box-shadow: 10px 10px 15px #868686;
    transition: 0.25s;
}

.purple:hover {
    box-shadow: 10px 10px 6px#868686;
    font-size: 30px;
    height: 130px;
    width: 220px;
}

.purple:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}

/* Pink button */
.pink {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: pink;
    font-size: 50px;
    box-shadow: 10px 10px 15px #868686;
    transition: 0.25s;
}

.pink:hover {
    box-shadow: 10px 10px 6px#868686;
    font-size: 30px;
    height: 130px;
    width: 220px;
}

.pink:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}

/* Maroon button */
.maroon {
    position: absolute;
    top: 50%;
    left: 41.5%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: maroon;
    font-size: 50px;
    box-shadow: 10px 10px 15px #868686;
    transition: 0.25s;
}

.maroon:hover {
    box-shadow: 10px 10px 6px#868686;
    font-size: 30px;
    height: 130px;
    width: 220px;
}

.maroon:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}

.teal {
    position: absolute;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: teal;
    font-size: 50px;
    box-shadow: 10px 10px 15px #868686;
    transition: 0.25s;
}

.teal:hover {
    box-shadow: 10px 10px 6px#868686;
    font-size: 30px;
    height: 130px;
    width: 220px;
}

.teal:active {
    box-shadow: 10px 10px 1px #868686;
    font-size: 30px;
    height: 165px;
    width: 200px;
}