#background {
  background-image: url("../Images/2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#header,
#footer {
  position: fixed;
  padding: 0.5em;
  background-color: #f1f1f1;
  color: black;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

#header {
  top: 0;
  border-bottom: 1px solid black;
  z-index: 3;
}

#footer {
  bottom: 0;
  justify-content: space-around;
  border-top: 1px solid black;
  z-index: 2;
}

#header a,
#footer a {
  padding-right: 10px;
}

/*  */
body {
  margin: 0;
  padding: 0;
}

.button {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 30%;
  width: 20%;
  border: none;
  outline: none;
  border-radius: 20px;
  /* need font size to resize with the image */
  font-size: 10vmin;
  font-family: "Arial", sans-serif;
  color: black;
  cursor: pointer;

  transition: 0.25s;
  border: 0.1px solid goldenrod;
  box-shadow: 0px 0px 3px rgb(190, 163, 93);
}

.button:hover {
  box-shadow: 3px 10px 30px rgb(190, 163, 93);
  height: 31%;
  width: 21%;
  font-size: 11vmin;
}

.button:active {
  box-shadow: 3px 10px 10px rgb(124, 108, 68);
  font-size: 7vmin;
  height: 20%;
  width: 10%;
}

.green {
  top: 25%;
  left: 30%;
  background-color: rgb(228, 236, 105, 0.9);
}

.blue {
  top: 25%;
  left: 51%;
  background-color: rgb(0, 191, 255, 0.9);
}

.purple {
  top: 25%;
  left: 72%;
  background: rgb(250, 114, 250, 0.9);
}

.pink {
  top: 56%;
  left: 25%;
  background: rgb(235, 149, 163, 0.9);
}

.maroon {
  top: 56%;
  left: 46%;
  background: rgb(224, 99, 50, 0.9);
}

.teal {
  top: 56%;
  left: 67%;
  background: rgb(5, 138, 138, 0.9);
}
